.photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(105, 240, 255);
}

.pageButtons {
  margin: 20px;
}

.pageButtons span {
  display: inline-block;
  border: black 1px solid;
  border-radius: 5px;
  margin-right: 3px;
  width: 40px;
  height: 30px;
  text-align: center;
}

.pageButtons span:hover {
  background-color: aqua;
  color: black;
  font-weight: bolder;
}

.selectedPage {
  background: black;
  color: white;
  font-weight: bold;
}

.pageSizeSelection {
  margin: 20px; 
}

.pageSizeSelection span {
  display: inline-block;
  width: 20px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.pageSizeSelection span:hover {
  background-color: aqua;
  color: black;
}

.selectedPageSize {
  background: black;
  color: white;
  font-weight: bold;
}